body {
    background-image: url(jefferson-santos-450403-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.flex-container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1  {
    font-family: "Fira Mono";
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 40vh;
}

hr {
    border: 3px solid aqua;
    margin: 0 auto;
    max-width: 50vw;
    animation-name: baranimate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes baranimate {
    0% {width: 50vw}
    50% {width: 25vw}
    100% {width: 50vw}
}

.flex-button {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
button {
    background-color: #9D0004;
    color: white;
    font-family: "Fira Sans";
    font-size: 1em;
    letter-spacing: 0.2em;
    font-weight: 300;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    opacity: 0.6;
    transition: opacity 1s;
    cursor: pointer;
    border-style: none;
    animation: 4s slidein;
    animation-iteration-count: infinite;
}
@keyframes slidein {
    from { transform: scaleX(0.9); }
    to   { transform: scaleX(1); }
}

button:hover {
    opacity: 1;
}

button:focus {
    outline: 0;
}